.sidebar-option {
  display: flex;
  height: 40px;
  align-items: center;
  color: gray;
  cursor: pointer;
  transition: 0.3s color ease-in;
}
.sidebar-option:hover {
  color: white;
}
.sidebar-option-icon {
  padding: 0 10px;
}
.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}
.sidebar-option-icon {
  padding: 0 10px;
}
.sidebar-option > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
